import * as actions from './actions';

describe('Teast actions', () => {
  describe('exampleAction', () => {
    it('should create an example action', () => {
      expect(actions.exampleAction('TEST')).toEqual({
        type: 'ACTION_TYPE',
        payload: 'TEST',
      });
    });
  });
});
