import { h, Component } from 'preact'; // eslint-disable-line no-unused-vars
import { connect } from 'preact-redux';
import PropTypes from 'prop-types';
// import { } from 'reactstrap';

{{#if hasActions}}
import * as actions from './actions';
{{/if}}
{{#if hasCss}}
import './index.css';
{{/if}}

export class {{ component }} extends Component {
  static get propTypes() {
    {{#if hasActions}}
    return {
      exampleAction: PropTypes.func,
    };
    {{else}}
    return {};
    {{/if}}
  }

  static get defaultProps() {
    {{#if hasActions}}
    return {
      exampleAction: () => null,
    };
    {{else}}
    return {};
    {{/if}}
  }

  constructor(props) {
    super(props);
  }

  render() {
    return (
      <div className="{{ component }}" > {{ component }} </div>
    );
  }
}

function mapStateToProps(state) { // eslint-disable-line no-unused-vars
  return {};
}

{{#if hasActions}}
const mappedActions = { ...actions };
{{else}}
const mappedActions = {};
{{/if}}

export default connect(mapStateToProps, mappedActions)({{ component }});
