import { h } from 'preact'; // eslint-disable-line no-unused-vars
import { shallow } from 'preact-render-spy';

import { {{ component }} } from '../{{ directory }}';

describe('{{ component }}', () => {
  describe('render', () => {
    it('does not crash', () => {
      shallow(<{{ component }} />);
    });
  });
});

